<div class="main-container animate-top center">
  <div class="article-grid">
      <img class="articleimg" src="<%= @article.image%>">
      <div class="article">
      <p>Title: <%= @article.title%></p>
      <p>Content: <%= @article.content%></p>
      <p>
        <!-- <a class="secondary-btn" href="/articles/<%=@article.id%>">Edit Article</a> -->
        <form action="<%=@article.id%>" method="post">
          <input class="primary-btn" type="submit" name="delete" value="Delete Article" onclick="alert('Article Deleted!')">
        </form>
      </p>
    </div>
  </div>
</div>
